* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #939393;
  font-family: 'Roboto', sans-serif;
}
#body {
  margin: auto;
  width: 1366px;
  height: 3090px;
  background-color: #ffffff;
  overflow: hidden;
}
header {
  height: 640px;
}
#navigation {
  position: relative;
  list-style: none;
  margin-left: 313px;
  letter-spacing: 0.01em;
  z-index: 3;
}
.nav_elements {
  font-size: 14px;
  display: inline-block;
  margin-left: 20px;
  width: 100px;
  height: 115px;
  text-align: center;
  line-height: 115px;
}
#cher {
  width: 220px;
  position: relative;
  top: 3px;
}
a {
  font-size: 14px;
  color: rgb(33, 33, 33);
  line-height: 1.2;
  text-decoration: none;
}
#awesome {
  position: relative;
  z-index: 2;
  top: -398px;
  left: 448px;
}
#headimg {
  position: relative;
  z-index: 1;
}
#fdeveloper {
  width: 400px;
  font-family: 'Roboto Black','Roboto',sans-serif;
  font-size: 36px;
  letter-spacing: 0.05em;
  color: #fff;
  position: relative;
  z-index: 4;
  top: -423.9px;
  left: 501.6px;
}
#learn
 {
  font-size: 14px;
  letter-spacing: 0.01em;
  float: left;
  width: 220px;
  height: 50px;
  background-color: white;
  margin-left: 20px;
  position: relative;
  z-index: 5;
  line-height: 50px;
  text-align: center;
}
#learn:hover {
  background-color: #e1e1e1;
}
#touch{
  font-size: 14px;
  letter-spacing: 0.01em;
  float: left;
  width: 220px;
  height: 50px;
  box-sizing: border-box;
  position: relative;
  z-index: 5;
  line-height: 50px;
  text-align: center;
  border: 2px solid white;
  color: white;
  margin-left: 20px;
}
#touch:hover {
  background-color: white;
  color: black;
}
#headbuttons {
    position: relative;
    top: -370.2px;
    left: 432px;
}
#passion {
  text-align: center;
  position: relative;
  top: 80.5px;
  margin-left: 333px;
  margin-right: 333px;
}
h2 {
  font-family: 'Roboto Black','Roboto',sans-serif;
  font-size: 36px;
  letter-spacing: 0.05em;
  font-weight: normal;
  margin-bottom: 32.4px;
  line-height: 34.5px;
}
#aboutme1 {
  font-size: 14px;
  letter-spacing: 0.01em;
  padding-left: 5px;
  padding-right: 7px;
  line-height: 20px;
}
#selfie {
  position: relative;
  top: 57.6px;
  text-align: center;
  z-index: 2;
}
#more_about {
  font-size: 14px;
  letter-spacing: 0.01em;
  width: 220px;
  height: 50px;
  box-sizing: border-box;
  position: relative;
  z-index: 5;
  line-height: 50px;
  text-align: center;
  position: relative;
  left: 393px;
  top: -71.5px;
  border: 2px solid #777777;
  color: #777777;
}
#more_about:hover {
  background-color: #212121;
  color: white;
  border: none;
}
#resume {
  padding-top: 120px;
  background-color: #ededed;
  position: relative;
  top: -63.5px;
  height: 486px;
}
table{
  position: relative;
  float: left;
}
h3 {
  font-family: 'Roboto Black','Roboto',sans-serif;
  font-size: 36px;
  letter-spacing: 0.05em;
  margin-left: 215px;
  margin-bottom: 30px;
  line-height: 27.5px;
}
h4 {
  font-family: 'Roboto Black','Roboto',sans-serif;
  font-size: 20px;
  letter-spacing: 0.01em;
  margin-left: 215px;
  margin-bottom: 20px;
}
h5 {
  font-size: 14px;
  letter-spacing: 0.01em;
  margin-left: 215px;
}
.text1 {
  width: 218px;
  color: #777777;
  font-size: 14px;
  letter-spacing: 0.01em;
  margin-left: 215px;
  margin-bottom: 30px;
}
#second_h3 {
  position: relative;
}
#education {
  position: relative;
  float: left;
  top: -58px; 1381 1455
}
#third_h3 {
  margin-top: 70px;
}
.h5_2 {
  margin-bottom: 23px;
}
#h3_proj {
  margin: 0px;
  position: relative;
  float: right;
  right: 548px;
  top: 16px;
}
#proj1 {
  position: relative;
  top: 73px;
  left: 213px;
}
#proj2 {
  position: relative;
  top: 73px;
  left: 230px;
}
#proj3 {
  position: relative;
  top: 73px;
  left: 246px;
}
#projbutton {
  font-size: 14px;
  letter-spacing: 0.01em;
  width: 220px;
  height: 50px;
  box-sizing: border-box;
  position: relative;
  line-height: 50px;
  text-align: center;
  border: 2px solid #777777;
  color: #777777;
  margin: 0px;
  left: 573px;
  top: 108px;
}
#projbutton:hover {
  background-color: #212121;
  color: white;
  border: none;
}
form {
  position: relative;
  background-color: #ededed;
  padding-top: 68.5px;
  top: 188px;
  height: 512px;
}
#h_form {
  margin: 0px;
  text-align: center;
}
#h_form_2 {
  margin: 0px;
  width: 395px;
  margin-top: 30px;
  text-align: center;
  margin-left: 490px;
  font-family: 'Roboto', sans-serif;
}
#contacts {
  margin-top: 47px;
}
h4 {
  margin-bottom: 30px; 2661 2621
}
#message_form {
  position: relative;
  left:693px;
  top: -222.5px;
}
input, textarea {
  height: 25px;
  line-height: 25px;
  margin-bottom: 35px;
  width: 340px;
  border: none;
  border-bottom: 2px solid #777777;
  background-color: #ededed;
}
textarea {
  height: 75px;
  resize: none;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0px;
}
input, textarea:focus {
  outline: none;
}
#submit {
  font-size: 14px;
  letter-spacing: 0.01em;
  width: 140px;
  height: 50px;
  box-sizing: border-box;
  position: relative;
  line-height: 50px;
  text-align: center;
  border: 2px solid #777777;
  color: #777777;
  left: -344px;
  top: 70px;
}
#submit:hover {
  cursor: pointer;
  background-color: #212121;
  color: white;
  border: none;
}
footer {
  position: relative;
  height: 115px;
  background-color: #212121;
  bottom: -188px;
  line-height: 115px;
}
#footinfo {
  color: white;
  margin-left: 213px;
}
#notonly {
  position: relative;;
  z-index: 111;
  margin: 0px;
  padding: 0px;
  left: 370.6px;
  top: -170px;
  letter-spacing: 0.02em;
}
#google {
  position: relative;
  left: 618px;
}
#twitter {
  position: relative;
  left: 522px;
}
#facebook {
  position: relative;
  left:437px;
  top: 1px;
}
#vk {
  position: relative;
  left: 349px;
}
